extends layout

block content
    .col-12.mx-auto.user_title
        .col-12
            h1.display-2.bs #{name}, #{title}
        .col-12
            a(class='btn btn-outline-info', href='/') Previous


    .row
        .col-xs-12.col-md-4
            .card
                img(class='card-img-top', src= `${img_past}`, alt='Card Image cap')
                div(class='card-header')
                    h4(class='card-title kr') 아침, 과거
                div(class='card-body')
                    h4(class='card-title bs') #{past_name}
                    p(class='card-text') #{past}
        .col-xs-12.col-md-4
            .card
                img(class='card-img-top', src=`${img_present}`, alt='Card Image cap')
                div(class='card-header')
                    h4(class='card-title kr') 점심, 현재
                div(class='card-body')
                    h4(class='card-title bs') #{present_name}
                    p(class='card-text') #{present}
        .col-xs-12.col-md-4
            .card
                img.card-img-top(src=`${img_future}`, alt='Card Image cap')
                div(class='card-header')
                    h4(class='card-title kr') 저녁, 미래
                div(class='card-body')
                    h4(class='card-title bs') #{future_name}
                    p(class='card-text') #{future}
    .row
        .col-12.text-center.mt-2
            button(class='btn btn-primary', type='button', data-toggle="collapse", data-target="#collapseExample", aria-expanded="false", aria-controls="collapseExample") 해석
            .collapse#collapseExample
                p #{result}
