extends layout

block content
    div(class='container col-xs-12 col-sm-12 col-md-4 mx-auto ', style='width: 30rem;')
        div
            h1(class='bs') #{name}, #{title}

    div(class='container col-xs-3 col-sm-12 col-md-9')
        div(class='row')
            div(class='col')
                img(class='card-img-top', src= `${img_past}`, alt='Card Image cap')
                div(class='container card  ')
                    div(class='card-header ')
                        h4(class='card-title kr') 아침, 과거
                    div(class='card-body ')
                        h4(class='card-title bs') #{past_name}
                        p(class='card-text') #{past}
            div(class='col')
                img(class='card-img-top', src=`${img_present}`, alt='Card Image cap')
                div(class='container card ')
                    div(class='card-header')
                        h4(class='card-title kr') 점심, 현재
                    div(class='card-body ')
                        h4(class='card-title bs') #{present_name}
                        p(class='card-text') #{present}
            div(class='col')
                img(class='card-img-top', src=`${img_future}`, alt='Card Image cap')
                div(class='container card  ')
                    div(class='card-header ')
                        h4(class='card-title kr') 저녁, 미래
                    div(class='card-body ')
                        h4(class='card-title bs') #{future_name}
                        p(class='card-text') #{future}


        //button(class='btn btn-primary',href='/', type='submit') submit